doctype html
html(lang='en', ng-app='corner')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title corner

    link(rel='stylesheet', href='/materialize/css/materialize.css')

    script(src="/jquery.min.js")
    script(src="/materialize/js/materialize.js")

    script(src="/angular.js")
    script(src="/angular-route.js")
    //MODULE
    script(src="/frontend/corner.module.js")
    //FACTORY
    script(src="/frontend/user.factory.js")
    script(src="/frontend/player.factory.js")
    //CONTROLLER
    script(src="/frontend/profile.controller.js")
    script(src="/frontend/manager.controller.js")

  body
    include navbar
    block content

    script(src="/scripts/setup.js")
