nav
    div(class="nav-wrapper container")
        a(href="#!" class="brand-logo") Logo
        a(href="#" data-activates="mobile-demo" class="button-collapse")
            i(class="mdi-navigation-menu")
        ul(class="right hide-on-med-and-down")
            li(id='cuco')
                a(href="/profile") Profile
            li
                a(href="/manager") Manager
            li
                a(href="collapsible.html") Javascript
            li
                a(href="mobile.html") Mobile
        ul(class="side-nav" id="mobile-demo")
            li
                a(href="#/profile") Profile
            li
                a(href="#/manager") Manager
            li
                a(href="collapsible.html") Javascript
            li
                a(href="mobile.html") Mobile