<div class="container">
    <div class="row">
        <div class="col s12 l7 field-container">
            <img class="field" src="/images/field.jpg" alt="">
            <div class="players">
                <div class="row del three-players">
                    <a class="player modal-trigger"
                       ng-repeat="(k,p) in mc.myTeam track by p._id"
                       ng-if="p.player.pos == 'DEL' && p.reg"
                       ng-click="mc.showPlayerDetails(p.player._id)">

                        <img ng-src="{{p.player.avatar}}" class="responsive-img">
                    </a>
                </div>
                <div class="row med three-players">
                    <a class="player"
                       ng-repeat="(k,p) in mc.myTeam track by p._id"
                       ng-if="p.player.pos == 'MED' && p.reg"
                       ng-click="mc.showPlayerDetails(p.player._id)">

                        <img ng-src="{{p.player.avatar}}" class="responsive-img">
                    </a>
                </div>
                <div class="row def four-players">
                    <a class="player"
                       ng-repeat="(k,p) in mc.myTeam track by p._id"
                       ng-if="p.player.pos == 'DEF' && p.reg"
                       ng-click="mc.showPlayerDetails(p.player._id)">

                        <img ng-src="{{p.player.avatar}}" class="responsive-img">
                    </a>
                </div>
                <div class="row por">
                    <a class="player"
                       ng-repeat="(k,p) in mc.myTeam track by p._id"
                       ng-if="p.player.pos == 'POR' && p.reg"
                       ng-click="mc.showPlayerDetails(p.player._id)">

                        <img ng-src="{{p.player.avatar}}" class="responsive-img">
                    </a>
                </div>

            </div>


            <div id="player-details" class="modal bottom-sheet green lighten-4">
                <img ng-src="{{ mc.player.avatar }}" class="circle responsive-img player-img z-depth-3">

                <div class="modal-content">
                    <h4>{{ mc.player.firstName }} {{ mc.player.lastName }}</h4>

                    <p>A bunch of text</p>

                    <div class="players-notreg">
                        <a class="player"
                            ng-repeat="(k,p) in mc.myTeam track by p._id"
                            ng-if="p.player.pos == mc.player.pos && !p.reg">

                            <img ng-src="{{p.player.avatar}}" class="responsive-img">
                        </a>
                    </div>

                </div>
                <div class="modal-footer green lighten-4">
                    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
    </div>
</div>